on init
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1
    setprop sys.usb.ffs.ready 1
    setprop sys.usb.controller "musb-hdrc"
    setprop vendor.usb.controller "musb-hdrc"

on boot
    write /sys/class/android_usb/android0/f_mtp/cpu_mask 0x80
    write /sys/module/usb_f_mtp/parameters/mtp_rx_cont 1
    chmod 0664 /sys/class/android_usb/android0/iSerial
    chown root system /sys/class/android_usb/android0/iSerial

    #SDD: add multi device name by lijia.chen 2020.08.10 start
    chmod a+x config/usb_gadget/g1
    chmod a+x config/usb_gadget/g1/strings/0x409
    chmod 0666 /config/usb_gadget/g1/strings/0x409/product
    #SDD: add multi device name by lijia.chen 2020.08.10 end

    # for usb otg sdcard hot plug detection
    write /sys/module/block/parameters/events_dfl_poll_msecs 1000

    #SDD:add OTG feature for TESSCR-6368 by weike.xu 20210512 start
    chmod 0666 /sys/devices/platform/odm/odm:tran_battery/OTG_CTL
    write /sys/devices/platform/odm/odm:tran_battery/OTG_CTL "1"
